/* głowne */

#header { 
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 100%;
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-weight: 500;
    letter-spacing: .04538em;
    text-transform: uppercase;
    transition: .3s;
    font-family: 'Monsterat', sans-serif;
}

/* logo */

.header .site-logo.header-image {
    width: 140px;
    height: 140px;
    margin-right: -140px;
}

.header .site-logo.header-image.second {
    width: 140px;
    height: 60px;
    margin-right: 0px;
    opacity: 0;
}

/* menu główme */

.header .menu {
    display: flex;
    align-items: center;
    width: 100%;
    padding-right: 100px !important;
    padding-left: 100px !important;
    flex-direction: row;
    grid-auto-columns: "max-content";
    grid-column-gap: 30px;
}

.sub-menu li:first-of-type::before {
    content: '';
    display: block;
    position: absolute;
    top: -15px;
    left: 50%;
    border-right: 13px solid transparent;
    border-bottom: 16px solid #134818;
    border-left: 13px solid transparent;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.menu li:hover .sub-menu
{
    opacity: 1;
    transform: translateX(-50%) translateY(0);
    pointer-events: all;
}


.menu li.menu-item-has-children > a::after
{
    font-weight: 900;
    color: #ffffff;
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f107";
}

/* menu rozwijane */

a:hover {
    outline: 0;
    color: green;
}

a {
    text-decoration: none;
}

#header.sticky {
    height: 60px;
    background: #fff;
    margin-top: 0;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
}

#header.sticky .site-logo.header-image.first{
    opacity: 0;
}

#header.sticky .site-logo.header-image.second{
    opacity: 1;
}

.header a:link,
.header a:visited,
#header.sticky .menu-header ul.sub-menu li a {
    color: white;
}

#header.sticky .menu-header ul li a,
#header.sticky .menu li.menu-item-has-children > a::after {
    color: rgb(0, 0, 0);
}


#header ul li a {
    display: block;
    padding: 10px 19px;
}

.sub-menu {
    position: absolute;
    top: 100%;
    left: 50%;
    padding-bottom: 20px;
    padding-top: 30px;
    padding-left: 0;
    pointer-events: none;
    opacity: 0;
    width: 220px;
    text-align: center;
    text-decoration: none;
    transform: translateX(-50%) translateY(15px);
    transition: transform .2s, opacity .2s;
    transition: 0.2s;
    line-height: 2.5;
    font-weight: 400;
    z-index: 9999;
}

.sub-menu li:first-of-type {
    padding-top: 20px;
}
.sub-menu li {
    background-color: #134818;
    width: 100%;
}

.sub-menu li {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    text-decoration: none;
}

.menu-item {
    position: relative;
    list-style: none;
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
    object-position: inherit;
}

@media only screen and (max-width: 1200px) {
    #header{
        display: none;
    }
    
    #mobile-header {
        display: flex;
    }
}

@media only screen and (min-width: 1280px) {
    #header{
        display: flex;
    }
    
    #mobile-header {
        display: none;
    }
}

/* menu mobilne */

.mobile-header a:link {
    color: black;
}

.mobile-header a:visited {
    color: black;
}

.mobile-header .site-logo.header-image{
    width: 140px;
    height: 140px;
    background: url("highlandwarmia.local");
    padding-left: 85px;
}



#menuToggle input {
    display: flex;
    width: 40px;
    height: 32px;
    position: relative;
    cursor: pointer;
    opacity: 0;
    z-index: 10;
    margin: -4px;
    left: 30px;
    top: 80px;
}

#menuToggle input:checked
{
    top: 10px !important;
}

#menuToggle input:checked~span.exit 
{
    top: -5px !important;
}

#menuToggle input:checked~ul {
    transform: none;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}
#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(0, -1px);
    background: #000;
}
#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menuToggle span.exit {
    display: flex;
    width: 29px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    z-index: 2;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
    left: 30px;
    top: 60px;
}


#mobile-header #menuToggle #menu .menu .menu-item{
    font-family: "Montserrat", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: black;
}

.mobile-header .menu-mobilne {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: auto;
    background-color: white;
    text-align: left;
    transform: translate3d(-100%, 0, 0);
    transition: transform .4s;
    margin-top: 0px;
    margin-bottom: 0px;
}

.mobile-header .menu{
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: -0;
    margin-top: 90px;
    line-height: 2.5;
}

